<template>
  <el-row type="flex" align="middle" :class="'c-cart__item'">
    <img :src="cartItem.image">
    <div class="c-cart__item-name">{{ cartItem.name }}</div>
    <div class="c-cart__item-price">{{ cartItem.price | toPrice }}</div>
    <div class="c-cart__item-quantity">{{ cartItem.qty }}</div>
    <el-button type="primary" icon="el-icon-plus" @click="cartItem.qty += 1; setStorage()" :disabled="disableButton" circle></el-button>
    <el-button v-if="cartItem.qty > 1" type="primary" icon="el-icon-minus" @click="cartItem.qty -= 1; setStorage()" :disabled="disableButton" circle></el-button>
    <el-button v-if="cartItem.qty === 1" type="danger" icon="el-icon-delete" @click="deleteItem(cartItem.sku)" :disabled="disableButton" circle></el-button>
  </el-row>
</template>

<script>
export default {
  name: 'CartItem',
  props: {
    cartItem: Object,
    deleteItem: Function,
    disableButton: Boolean,
    setStorage: Function,
  },
  data() {
    return {

    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
.c-cart__item {
  padding: 20px;

  img {
    margin-right: 20px;
    width: 80px;
  }
}

.c-cart__item-name {
  flex: 1;
  color: #909399;
  margin-right: 30px;
}

.c-cart__item-price {
  color: #606266;
  text-align: right;
  margin-right: 50px;

  @include font($weight: bold);
}

.c-cart__item-quantity {
  margin-right: 20px;

  @include font(18px, bold);
}

</style>
