<template>
  <div id="app">
    <el-container>
      <el-header height="100px" class="c-header">
        <h1>Eataly Cart</h1>
        <el-badge :value="currentSelectedItems.length">
          <el-button type="primary" :icon="currentSelectedItems.length ? 'el-icon-shopping-cart-full' : 'el-icon-shopping-cart-2'" @click="openCart()" :disabled="!currentSelectedItems.length">Carrello</el-button>
        </el-badge>
      </el-header>
      <el-main class="c-layout__main">
        <el-row>
          <el-col class="c-layout__col" v-for="(item, index) in allItems" :key="index" :xs="24" :sm="{span: 6, offset: index > 0 ? 3 : 0}" >
              <el-card :body-style="{ padding: '0px' }">
                <img :src="item.image" class="c-card__image" width="100">
                <div class="c-card__content">
                  <div class="c-card__name">{{ item.name }}</div>
                  <div class="c-card__info">
                    <div class="c-card__price">{{ item.price | toPrice }}</div>
                    <el-button type="primary" icon="el-icon-plus" @click="addToCart(item)">Aggiungi</el-button>
                  </div>
                </div>
              </el-card>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
    <el-drawer
      title="Carrello"
      :visible.sync="drawer"
      :direction="direction"
      size="50%"
      :before-close="handleClose">
      <CartItem v-for="(cartItem, index) in currentSelectedItems" :key="index" :cartItem="cartItem" :deleteItem="deleteItem" :setStorage="setStorage" :disableButton="isCheckoutSendRequest" />
      <el-row v-if="currentSelectedItems.length">
        <div class="c-cart__total">Totale: {{ total | toPrice }}</div>
      </el-row>
      <el-row class="c-cart__checkout">
        <el-button v-if="currentSelectedItems.length" type="primary" @click="checkout(currentSelectedItems)" :loading="isCheckoutSendRequest">Checkout</el-button>
      </el-row>
    </el-drawer>
  </div>
</template>

<script>
import Vue from 'vue'
import CartItem from './components/cart-item.vue'
import { MessageBox } from 'element-ui';

const location = 'http://54.74.6.150:3000/';
const getUrl = 'api/v1/cart/';
const postUrl = 'api/v1/order';

export default {
  name: 'EatalyCart',
  components: {
    CartItem
  },
  data () {
    return {
      drawer: false,
      direction: 'rtl',
      allItems: [],
      currentSelectedItems: [],
      currentCart: [],
      isCheckoutSendRequest: false,
    }
  },
  computed: {
    total: function() {
      const reducer = (acc, val) => {
        if (typeof acc !== 'number' || typeof val.price !== 'number' || typeof val.qty !== 'number') {
          return `contattare l'assistenza`;
        }
        return acc + (val.price * val.qty);
      }
      return this.currentSelectedItems.length ? this.currentSelectedItems.reduce(reducer, 0) : 0;
    },
  },
  mounted () {
    const getId = 100;

    Vue.axios
      .get(`${location}${getUrl}${getId}`)
      .then(response => {
        this.allItems = response.data.items;
        this.currentSelectedItems = [...response.data.items];

        console.log(JSON.parse(sessionStorage.getItem('eatalyCart')));

        if (sessionStorage.getItem('eatalyCart') && JSON.parse(sessionStorage.getItem('eatalyCart')).length) {
          this.currentSelectedItems = JSON.parse(sessionStorage.getItem('eatalyCart'));
        } else {
          this.setStorage();
        }
      })
      .catch(function (error) {
        console.log(error.message);
        MessageBox.alert('<p class="c-message__not-available">Sito momentaneamente non disponibile, ricaricare la pagina o riprovare più tardi</p>', {
            confirmButtonText: 'OK',
            dangerouslyUseHTMLString: true,
            showClose: false,
          });
      });
  },
  methods: {
    handleClose(done) {
      done();
    },
    addToCart(item) {
      const checkItem = selectedItem => selectedItem.sku === item.sku;
      const isItemInCart = this.currentSelectedItems.filter(checkItem).length > 0;

      if (isItemInCart) {
        this.currentSelectedItems.map(selectedItem => {
          if (item.sku === selectedItem.sku) {
            selectedItem.qty += 1;
          }
        });
      } else {
        this.currentSelectedItems =
          [
            ...this.currentSelectedItems,
            {
              ...item,
              qty: 1,
            }
          ];
      }

      this.setStorage();
    },
    checkout(items) {
      this.isCheckoutSendRequest = true;

      const payload = [];
      items.map(({sku, qty}) => {
        const modelItem = { sku, qty }
        payload.push( modelItem )
      });

      Vue.axios
        .post(`${location}${postUrl}`, {
          cart_id: 1,
          items: payload
        })
        .then(response => {
          if (response.status === 200) {
            MessageBox.alert('<i class="el-icon-success"></i>Ordine inviato', {
              confirmButtonText: 'OK',
              dangerouslyUseHTMLString: true,
              showClose: false,
            });

            this.drawer = false;
            this.currentSelectedItems = [];

            this.setStorage();
          }
        })
        .catch(error => {
          console.log(error.message);
          MessageBox.alert('<i class="el-icon-error"></i>Problema con la richiesta', {
            confirmButtonText: 'OK',
            dangerouslyUseHTMLString: true,
            showClose: false,
          });
        })
        .finally(() => this.isCheckoutSendRequest = false)
    },
    openCart() {
      this.drawer = !this.drawer;
    },
    deleteItem(sku) {
      this.currentSelectedItems = this.currentSelectedItems.filter((item) => item.sku !== sku);
      this.drawer = this.currentSelectedItems.length ? true : false;

      this.setStorage();
    },
    setStorage() {
      sessionStorage.setItem('eatalyCart', JSON.stringify(this.currentSelectedItems));
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

// LAYOUT
.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-layout__main {
  max-width: 1200px;
  align-self: center;
}

.c-layout__col {
  margin-bottom: 20px;
}

// CART
.c-cart__total {
  @include font(24px, bold, right);
}

.c-cart__checkout {
  .el-button {
    width: 100%;
  }
}

.c-cart__total,
.c-cart__checkout {
  padding: 20px;
}

// CARD
.c-card__image {
  width: 100%;
  display: block;
}

.c-card__content {
  padding: 14px;
}

.c-card__name {
  margin-bottom: 15px;
  height: 44px;
}

.c-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-card__price {
  @include font(18px, bold);
}

// MESSAGE BOX
.el-message-box__container {
  font-family: 'Avenir';
  text-transform: uppercase;
  margin: 20px 0;

  @include font(24px);

  .el-icon-success,
  .el-icon-error {
    margin-right: 15px;
  }

  .el-icon-success {
    color: #67C23A;
  }

  .el-icon-error {
    color: #F56C6C;
  }
}

.el-message-box__header {
  padding: 0;
}

.c-message__not-available {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}
</style>
