//------------------------------------------------------------------------------
// Mixins
//------------------------------------------------------------------------------

@mixin font($size: inherit, $weight: normal, $align: initial) {
  font-size: $size;
  font-weight: $weight;
  text-align: $align;
}
